@import (inline) "bootstrap.css";
@import (inline) "mdb.css";
@import (inline) "confirmPopup.less";
@import "style.less";


.preview-map{
  min-height: 200px;
}

.admin-nav{
  top: 14px;
  right: 19px;
  font-size: 12px;
  color: white!important;
}

.filepond--drop-label, .filepond--drop-label label{
  cursor: pointer!important;
}

.userAdsContainer{
  margin-bottom: 15px!important;
}

.userAdsContainer .container-fluid{
  padding-right: 15px!important;
}

.workingImages{
  background-color: #6dcea2;
  padding: 15px;
  border: 1px dashed white;
  color: white;
  margin-top: 25px;
}
