@import "bootstrap.min.css";
/*--- GLOBAL CLASSES AND MAIN SETTING ---*/
/*definitions of fonts*/
@import "style-reservation-page.css";
@import "justifiedGallery.min.css";
@import "animate.min.css";
@import "languageSwitcher.css";
@import "style-up.css";
@import "style-respo.css";
@import "../../fonts/fonts_frontend/FontAwesome/fontawesome-free-5.13.1-web/css/fontawesome.css";
@import "../../fonts/fonts_frontend/FontAwesome/fontawesome-free-5.13.1-web/css/brands.css";
@import "../../fonts/fonts_frontend/FontAwesome/fontawesome-free-5.13.1-web/css/solid.css";
@import "../../fonts/fonts_frontend/FontAwesome/fontawesome-free-5.13.1-web/css/regular.css";
@font-face {
  font-family: Roboto;
  src: url(../../fonts/fonts_frontend/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/fonts_frontend/Roboto-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/fonts_frontend/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/fonts_frontend/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Myriad;
  src: url(../../fonts/fonts_frontend/MYRIADPRO-BOLD.OTF);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Myriad;
  src: url(../../fonts/fonts_frontend/myriadpro-regular.otf);
  font-weight: normal;
  font-style: normal;
}
/*setting global colors*/
:root {
  --s7_color-1: black;
  --s7_color-2: #fd7824;
  --s7_color-3: #f15d00;
  --s7_color-4: #333333;
}
/*global text color*/
* {
  font-family: "Roboto";
}
/*site-width with smooth resizing*/
body .s7_sw-sec {
  max-width: 1250px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}
body .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/* H1, H2, ... */
body h1 {
  font-size: 50px;
  font-family: "Roboto";
}
body h2 {
  font-size: 43px;
  font-family: "Roboto";
}
body .btn {
  background-color: var(--s7_color-2);
  font-family: "Roboto";
}
body .btn:hover {
  background-color: var(--s7_color-3);
}
a {
  color: var(--s7_color-2);
}
a:hover {
  color: #000;
}
/*--- HEADER ---*/
body .navbar {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar img {
  max-width: 422px;
}
.navbar .nav-link {
  font-family: "Roboto";
  color: var(--s7_color-1);
}
.navbar .nav-item a {
  border-bottom: 2px solid #fff;
}
.navbar .nav-item:hover a {
  border-bottom: 2px solid var(--s7_color-2);
}
.navbar .nav-item a.current-menu-item {
  border-bottom: 2px solid var(--s7_color-2);
}
.navbar .nav-item:last-child .nav-link {
  background-color: var(--s7_color-2);
  padding: 0.3125rem 1rem;
  transition: 0.2s ease-out;
}
.navbar .nav-item:last-child .nav-link:hover {
  background-color: var(--s7_color-3);
  border-bottom: 2px solid #fff;
}
.fixed-special-top {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9;
}
.admin-bar .fixed-special-top {
  top: 32px;
}
/*--- HP SLIDER ---*/
.s7_form-field {
  position: relative;
  width: 75%;
}
.s7_form-field img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.s7_form-field input::placeholder,
.s7_form-field input {
  font-size: 16px!important;
}
.s7_ftw-arrown {
  min-width: 170px;
}
#main-slider {
  background-image: url("../../images/images_frontend/HP-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 45px;
  padding-bottom: 45px;
  min-height: 800px;
}
#main-slider .s7_slider-under-title-text {
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 300;
}
#main-slider .s7_ftw {
  max-width: 868px;
}
#main-slider input {
  max-width: 339px;
  height: 58px;
  box-shadow: 0 0 35px 4px rgba(0, 0, 0, 0.34);
}
#main-slider input::placeholder {
  font-size: 20px;
  color: #a9a9a9;
}
#main-slider .s7_ftw-arrown i {
  font-size: 28px;
  transition: 0.1s ease-in-out;
  color: var(--s7_color-2);
}
#main-slider .s7_ftw-arrown i.active {
  transform: scale(1.5);
}
#main-slider .s7_slider-inputs {
  margin-bottom: 40px;
}
#main-slider .s7_slider-long-text {
  max-width: 790px;
}
#main-slider .btn {
  font-size: 20px;
  max-width: 329px;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: 0 0 35px 4px rgba(0, 0, 0, 0.34);
  transition: 0.2s ease-out;
}
#main-slider .btn:hover {
  padding-left: 78px;
  padding-right: 78px;
}
#main-slider .font-italic {
  font-size: 20px;
}
#main-slider .s7_slider-ico-img {
  max-width: 70px;
  height: auto;
  margin-bottom: 20px;
}
#main-slider .s7_slider-ico-text {
  font-size: 15px;
  font-family: "Myriad";
  margin-bottom: 35px;
  letter-spacing: 1px;
}
#main-slider .s7_slider-usps {
  max-width: 1000px;
  margin: 0px auto;
}
#main-slider .s7_slider-covid {
  max-width: 198px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.29);
  transition: 0.2s ease-out;
}
#main-slider .s7_slider-covid:hover {
  background-color: rgba(208, 208, 208, 0.4);
  text-decoration: none;
}
#main-slider .s7_virus-img {
  max-width: 17px;
}
#main-slider .s7_slider-covid-text {
  line-height: 1.1;
  border-bottom: 1px solid;
}
/*--- HP VEHICLE PARK ---*/
#vozovy-park {
  padding-top: 48px;
  padding-bottom: 54px;
}
#vozovy-park .s7_vozovy-park-sw {
  max-width: 1436px;
  padding-left: 25px;
  padding-right: 25px;
}
#vozovy-park h2 {
  margin-bottom: 33px;
}
#vozovy-park h2:before {
  content: "";
  position: absolute;
  background-color: var(--s7_color-2);
  width: 86px;
  height: 4px;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%);
}
#vozovy-park .s7_vozovy-park-text {
  font-size: 20px;
  margin-bottom: 53px;
}
#vozovy-park .row {
  margin-bottom: 30px;
}
#vozovy-park .s7_vozovy-park-auto {
  margin-bottom: 30px;
}
#vozovy-park .s7_vozovy-park-content {
  border: 1px solid #d9d9d9;
  padding: 29px 25px 33px;
  position: relative;
  overflow: hidden;
}
#vozovy-park .s7_car-img {
  margin-bottom: 10px;
}
#vozovy-park figure {
  overflow: hidden;
}
.s7_vozovy-park-content.top:before {
  content: "";
  position: absolute;
  width: 144px;
  height: 144px;
  right: -72px;
  top: -72px;
  transform: rotate(45deg);
  text-align: center;
  background-image: linear-gradient(95deg, #fdbf5c, #fd7824, #cc2f97, #9538c0, #4a63d4);
  z-index: 9;
}
.s7_vozovy-park-content.top:after {
  content: "TOP";
  position: absolute;
  color: white;
  right: 10px;
  top: 17px;
  font-size: 21px;
  font-weight: bold;
  font-family: "Roboto";
  z-index: 10;
}
#vozovy-park h3 {
  font-size: 32px;
  margin-right: 10px;
  margin-bottom: 2px;
}
#vozovy-park .fa-star {
  font-size: 14px;
  color: #fdc424;
}
#vozovy-park .font-italic {
  font-size: 21px;
  color: var(--s7_color-2);
  margin-bottom: 12px;
}
#vozovy-park .s7_vozovy-park-popis {
  font-size: 15px;
  margin-bottom: 10px;
}
#vozovy-park .s7_vozovy-park-popisky {
  border-top: 1px dashed #d2d2d2;
  padding-top: 15px;
}
#vozovy-park .s7_vozovy-park-popisky i {
  color: #9a9a9a;
}
#vozovy-park .s7_vozovy-park-cena {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 1.5;
  border-top: 1px dashed #d2d2d2;
}
#vozovy-park .s7_vozovy-park-cena strong {
  font-size: 37px;
  color: var(--s7_color-3);
}
#vozovy-park .s7_vozovy-park-cena .fas {
  font-size: 25px;
}
#vozovy-park .s7_vozovy-park-dot {
  width: 4px;
  height: 4px;
  background-color: var(--s7_color-4);
  border-radius: 5px;
}
#vozovy-park .btn {
  font-size: 21px;
  max-width: 267px;
  padding-top: 11px;
  padding-bottom: 11px;
}
#vozovy-park .s7_btn-all-cars {
  max-width: 307px;
  font-size: 21px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  background-color: #ebebeb;
  transition: 0.2s ease-out;
}
#vozovy-park .s7_btn-all-cars:hover {
  padding-left: 60px;
  padding-right: 60px;
  text-decoration: none;
  background-color: #e0e0e0;
}
/*--- REFERENCES ---*/
#references {
  background-image: url("../../images/images_frontend/slider-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 71px;
  min-height: 720px;
}
#references h2 {
  margin-bottom: 12px;
}
#references .s7_reference-undertitle {
  font-size: 20px;
  margin-bottom: 33px;
}
#references .s7_references-person-img {
  max-width: 268px;
  margin-bottom: 23px;
}
#references .s7_references-slider-name {
  font-size: 24px;
}
#references .s7_references-slider-text {
  font-size: 20px;
  max-width: 726px;
  padding-top: 20px;
  padding-bottom: 22px;
  margin-bottom: 30px;
  box-shadow: 0 0 35px 4px rgba(0, 0, 0, 0.18);
}
#references .btn {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 7px;
  max-width: 246px;
}
#references .carousel-control-next,
#references .carousel-control-prev {
  align-items: unset;
}
#references .carousel-control-prev-icon,
#references .carousel-control-next-icon {
  background-image: unset;
  width: unset;
  height: unset;
  position: absolute;
  top: 30%;
}
#references .fa-chevron-left,
#references .fa-chevron-right {
  font-size: 55px;
}
/*--- HP NUMBER ONE ---*/
#number-one {
  background-color: #ebebeb;
  padding-top: 44px;
  padding-bottom: 42px;
}
#number-one img {
  max-width: 105px;
  margin-bottom: 32px;
}
#number-one h2 {
  margin-bottom: 30px;
  font-size: 25px;
}
#number-one h2:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: var(--s7_color-2);
  left: 50%;
  bottom: -18px;
  transform: translate(-50%);
}
#number-one .s7_number-one-text {
  max-width: 850px;
  font-size: 20px;
}
#number-one:before {
  content: "";
  position: absolute;
  border-bottom: 34px solid transparent;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  border-top: 34px solid #ebebeb;
  bottom: -68px;
  left: 50%;
  transform: translate(-50%);
}
/*--- HP CONTACT ---*/
#contact {
  padding-top: 75px;
  padding-bottom: 86px;
}
#contact .s7_contact-text {
  font-size: 20px;
  margin-bottom: 60px;
}
#contact .s7_contact-col {
  padding-top: 27px;
  padding-bottom: 20px;
}
#contact .s7_contact-ico-img {
  max-width: 50px;
  margin-right: 20px;
}
#contact .s7_contact-ico-text {
  font-size: 30px;
  color: var(--s7_color-4);
}
#contact a.s7_contact-ico-text {
  border-bottom: 3px solid var(--s7_color-2);
}
#contact .s7_contact-phone,
#contact .s7_contact-envelope {
  margin-bottom: 40px;
}
#contact .s7_contact-map {
  margin-bottom: 47px;
}
#contact .s7_contact-bigger-text {
  font-size: 30px;
  color: var(--s7_color-2);
  margin-bottom: 10px;
}
#contact .s7_contact-info {
  font-size: 18px;
  max-width: 520px;
  margin-bottom: 24px;
}
#contact .btn {
  font-size: 18px;
  padding-top: 9px;
  max-width: 209px;
}
#contact .s7_map-col {
  padding-left: 45px;
}
/*--- FOOTER ---*/
#footer {
  padding-top: 77px;
  padding-bottom: 68px;
}
#footer .s7_footer-logo {
  max-width: 422px;
  margin-bottom: 45px;
}
#footer .s7_footer-nav {
  font-weight: 100;
  font-size: 20px;
}
#footer .s7_footer-nav-link {
  color: var(--s7_color-4);
}
#footer .s7_footer-nav-link:hover {
  font-weight: bold;
  color: var(--s7_color-2);
}
#footer .s7_footer-nav-link.active {
  font-weight: bold;
  color: var(--s7_color-2);
}
#footer .s7_footer-destinations {
  font-size: 20px;
  margin-bottom: 0;
}
#footer .s7_footer_contact-ico-img {
  max-width: 33px;
  margin-right: 15px;
}
.s7_footer_contact-ico-img {
  width: 33px;
  height: 33px;
  background-position: center;
  background-size: contain;
}
.s7_footer_contact-ico-img.address {
  background-image: url(../../images/images_frontend/map-mark.png);
}
.s7_footer_contact-ico-img.phone {
  background-image: url(../../images/images_frontend/phone.png);
}
.s7_footer_contact-ico-img.mail {
  background-image: url(../../images/images_frontend/envelope.png);
}
#footer .s7_footer-contact-phone,
#footer .s7_footer-contact-envelope {
  margin-bottom: 37px;
}
#footer .s7_footer-contact {
  color: var(--s7_color-4);
  font-size: 20px;
}
#footer a.s7_footer-contact {
  border-bottom: 2px solid var(--s7_color-2);
}
#footer .s7_footer-social-ico {
  width: 64px;
  height: 64px;
  background-color: #e4e4e4;
  border-radius: 50px;
  font-size: 28px;
  margin-right: 18px;
  margin-bottom: 24px;
  transition: 0.2s ease-out;
  color: #333333;
}
#footer .s7_footer-social-ico:last-child {
  margin-right: 0;
}
#footer .s7_footer-social-ico:hover {
  background-color: #cfcfcf;
}
#footer .s7_privacy-policy {
  font-size: 20px;
  color: var(--s7_color-4);
}
/*--- COPYRIGHT ---*/
#copyright {
  padding-top: 47px;
  padding-bottom: 31px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #e4e4e4;
}
#copyright .s7_copyright-reference {
  font-size: 26px;
}
#copyright p {
  letter-spacing: 16.7px;
}
#copyright p,
#copyright a {
  color: #8d8d8d;
}
/*----- RESPO -----*/
@media only screen and (max-width: 1199px) {
  /*Burger Icon*/
  #s7_nav-icon3 {
    width: 40px;
    height: 22px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #s7_nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--s7_color-2);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #s7_nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  #s7_nav-icon3 span:nth-child(2),
  #s7_nav-icon3 span:nth-child(3) {
    top: 9px;
  }
  #s7_nav-icon3 span:nth-child(4) {
    top: 18px;
  }
  #s7_nav-icon3.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }
  #s7_nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #s7_nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #s7_nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #s7_nav-icon3.open span,
  #s7_nav-icon3:hover span {
    background: var(--s7_color-3);
  }
  /*--- Respo Menu ---*/
  header .navbar-nav {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  /*--- Vehicle Park ---*/
  #vozovy-park h3 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 991px) {
  /*--- Main Slider ---*/
  #main-slider input {
    max-width: 250px;
  }
  /*--- Vehicle Park ---*/
  #vozovy-park .s7_vozovy-park-cena,
  #vozovy-park .btn,
  #contact .s7_contact-text,
  #main-slider .s7_slider-under-title-text,
  #main-slider .font-italic,
  #main-slider .btn,
  #vozovy-park .s7_btn-all-cars,
  #vozovy-park .s7_vozovy-park-text {
    font-size: 18px;
  }
  /*--- References ---*/
  #references .s7_references-person-img {
    max-width: 200px;
  }
  #references .s7_references-slider-name {
    font-size: 20px;
  }
  #references .s7_references-slider-text {
    font-size: 18px;
    max-width: 500px;
  }
  /*Contact*/
  #contact .s7_contact-col {
    padding-bottom: 50px;
  }
  #contact .s7_contact-text {
    margin-bottom: 0;
  }
  #contact .s7_contact-ico-img {
    max-width: 35px;
  }
  #contact .s7_contact-ico-text {
    font-size: 25px;
  }
  #contact .s7_map-col {
    padding-left: 0;
    min-height: 280px;
  }
  /*Footer*/
  #footer ul {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  /*--- Main Slider ---*/
  body.s7_stop-scroll {
    height: 100%;
    overflow: hidden;
  }
  body.s7_stop-scroll:before {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s ease-out;
    z-index: 1;
  }
  body.s7_stop-scroll:before {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  body h1 {
    font-size: 45px;
  }
  body h2 {
    font-size: 33px;
  }
  #main-slider {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 780px;
  }
  #main-slider .s7_slider-under-title-text {
    margin-bottom: 10px;
  }
  #main-slider .s7_slider-inputs {
    margin-bottom: 10px;
  }
  #main-slider input {
    max-width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #main-slider .s7_ftw-arrown i {
    font-size: 28px;
    transition: 0.1s ease-in-out;
    transform: rotate(90deg);
  }
  #main-slider .s7_ftw-arrown i.active {
    transform: rotate(90deg) scale(1.5);
  }
  #main-slider .btn {
    max-width: 240px;
    padding-left: 40px;
    padding-right: 40px;
  }
  #main-slider .btn:hover {
    padding-left: 45px;
    padding-right: 45px;
  }
  #main-slider .s7_slider-ico {
    flex-basis: calc(100% / 3);
    flex-grow: unset;
  }
  /*--- Vehicle Park ---*/
  #vozovy-park .s7_vozovy-park-text {
    margin-bottom: 30px;
  }
  #vozovy-park .s7_btn-all-cars {
    padding-left: 40px;
    padding-right: 40px;
  }
  #vozovy-park .s7_btn-all-cars:hover {
    padding-left: 40px;
    padding-right: 40px;
  }
  /*--- Footer ---*/
  #footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #footer .s7_footer-logo {
    max-width: 400px;
    width: 100%;
    margin-bottom: 30px;
  }
  #footer .col-12:nth-child(2) {
    margin-bottom: 30px;
  }
  #footer .s7_footer-contact {
    font-size: 18px;
  }
  #footer .s7_footer-contact-phone,
  #footer .s7_footer-contact-envelope {
    margin-bottom: 15px;
  }
  #footer .s7_footer-contact-map {
    margin-bottom: 40px;
  }
  #footer .s7_footer-social-ico {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 575px) {
  /*--- Main Slider ---*/
  body h1 {
    font-size: 30px;
  }
  body h2 {
    font-size: 27px;
  }
  #main-slider input::placeholder {
    font-size: 16px;
  }
  #main-slider .s7_slider-ico {
    flex-basis: calc(100% / 2);
  }
  /*--- Vehicle park ---*/
  #vozovy-park h3 {
    font-size: 23px;
  }
  #vozovy-park .font-italic {
    font-size: 20px;
  }
  #vozovy-park .row {
    margin-bottom: 0;
  }
  /*--- References ---*/
  #references {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #references .carousel-control-prev {
    justify-content: flex-start;
  }
  #references .carousel-control-next {
    justify-content: flex-end;
  }
  #references .carousel-control-prev-icon,
  #references .carousel-control-next-icon {
    top: 10%;
  }
  #references .fa-chevron-left,
  #references .fa-chevron-right {
    font-size: 35px;
  }
  #references .s7_references-slider-text {
    max-width: 300px;
  }
  /*--- Number One ---*/
  #number-one img {
    max-width: 70px;
  }
  #number-one .s7_number-one-text {
    font-size: 18px;
  }
  /*--- Contact ---*/
  #contact .s7_contact-ico-text {
    font-size: 16px;
  }
  #contact .s7_contact-phone,
  #contact .s7_contact-envelope {
    margin-bottom: 20px;
  }
  /*--- Header + Footer logos ---*/
  .navbar img {
    max-width: 250px;
  }
  #copyright .s7_copyright-reference {
    font-size: 16px;
    letter-spacing: 10px;
  }
}
@media only screen and (max-width: 400px) {
  body .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #s7_nav-icon3 {
    width: 30px;
  }
  .navbar img {
    max-width: 210px;
  }
}
:root {
  --animate-delay: 0.5s;
}
/*# sourceMappingURL=main.css.map */